<html>
<head>
    <title>Search the Liber Usualis</title>

    <link rel="stylesheet" href="{{app_root}}{{static_url("diva.js/build/css/diva.css")}}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{{app_root}}{{static_url("css/search.css")}}" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{{app_root}}{{static_url("diva.js/source/js/diva.js")}}" type="text/javascript"></script>
    <script src="{{app_root}}{{static_url("diva.js/source/js/utils.js")}}" type="text/javascript"></script>
    <script src="{{app_root}}{{static_url("diva.js/source/js/plugins/highlight.js")}}" type="text/javascript"></script>
</head>
<body>
    <nav id="navbar_header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Search the Liber Usualis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a class="helpSpawn">Help</a></li>
            <li><a class="aboutSpawn">About</a></li>
            <li><a class="contactSpawn">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="html_body" class="container">
        <div class="row">
        <div class="col-lg-6">
            <div id="diva-wrapper"></div>
        </div>
        <div class="col-lg-6">
            <div class="center" id="search-wrapper"></div>
        </div>
        </div>

        <div id="helpModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Searching Help</h4>
              </div>
              <div class="modal-body">
                <p>We think that this demonstration will be useful for chant and musical scholars, so we have made it available online. Our current interface provides the following methods of content search: </p>
                <p>* Neume names: Search by sequences of neume names, e.g., "torculus torculus punctum scandicus"<br />
                * Strict pitch sequence: Untransposed pitch sequences, e.g., "edcdeee", "fgagfde", "cbcbcbc".<br />
                * Transposed pitch sequence: Same as strict, but will match pitch sequences diatonically.<br />
                * Contour: The "Parsons code": u(p), d(own), and r(epeat), e.g., "uuddrrd".<br />
                * Intervals: Number of semitones +/-, e.g., "+2 +2 +3 -1 -1 +2".<br />
                * Text: OCR'ed text results, e.g., "alleluia", "pastor". Note: The OCR results are very poor. </p>
                <p>Search results will be highlighted on the original page images alongside the search results. You can use the "next" and "previous" buttons to step through the results. </p>
                <p>The current search supports sequences up to a length of 10 for all musical queries. Note that this means that for the pitch sequences this is a length of 10, but for the contour and intervals it is a maximum length of 9.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="aboutModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search the Liber Usualis</h4>
              </div>
              <div class="modal-body">
                <p>The <em>Liber Usualis</em> is a valuable resource for musical scholars. As a compendium of the most common chants used by the Catholic Church, it is useful for identifying the origins of chants used in polyphonic compositions.</p>
                <p>Using Optical Music Recognition and Optical Text Recognition, we have processed a scanned version of the <em>Liber</em> and made its contents searchable. This is a proof-of-concept demonstration for the larger task of providing search capabilities for <em>all</em> digitized musical works.</p>
                <p>This work was done as part of the <a href="http://simssa.ca">SIMSSA</a> project.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="contactModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact Us</h4>
              </div>
              <div class="modal-body">
                <p class="center">
                    Hosted by the <a href="http://ddmal.music.mcgill.ca">Distributed Digital Music Archives &amp; Libraries Lab</a> of McGill University.
                    <br><br>
                    <a href="mailto:andrew.hankinson@mail.mcgill.ca,ich@music.mcgill.ca,andrew.horwitz@mail.mcgill.ca">Contact us with questions or comments.</a>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /.container -->

    <script src="{{app_root}}{{static_url("js/search.js")}}"></script>
    <script>

    var dv;
    $(document).ready(function() {
        $('#diva-wrapper').diva({
            tileFadeSpeed: 100,
            enableAutoTitle: false,
            enableHighlight: true,
            enableGrid: false,
            zoomLevel: 1,
            iipServerURL: "http://diva.simssa.ca/fcgi-bin/iipsrv.fcgi",
            imageDir: "/srv/images/liber",
            objectData: '{{static_url("liber.json")}}'
        });
        $('#search-wrapper').search({
            highlightColour: 'colour-red'
        });

        diva.Events.subscribe("ViewerDidLoad", function(){
            var search = $('#search-wrapper').data('search');
            dv = $('#diva-wrapper').data('diva');
            search.setDocumentViewer(dv);
        });
        $(".helpSpawn").on('click', function(){$('#helpModal').modal('show');});
        $(".aboutSpawn").on('click', function(){$('#aboutModal').modal('show');});
        $(".contactSpawn").on('click', function(){$('#contactModal').modal('show');});
    });

    </script>
</body>
</html>
